body{
    background-color: #f5f5f5;
    margin: 0px;
}



h4{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
}



h1{
    line-height: 1.3em;
    font-family: 'Newsreader', serif;
    font-size: 80px;
    padding-left: 100px;
    margin-bottom: 0px;
    line-height: 80px;
}



p{
    font-family: 'Kanit', sans-serif;
    color: #696969;
    font-size: 1.4em;
    padding-top: none;
    padding-left: 100px;
}



.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    display: flex; 
}
 


.header{
    background-color: #fff;   
    color:#000;
    padding-top: 5px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    box-shadow: 5px 5px 10px -3px#00000010;
    z-index: 3;
}

.header a{
    text-decoration: none;
    color: #000;
}

/* Boton de mi replica web */
.logo a{
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 23px;
}


.navigation ul{
    display: flex;
    padding-right: 75px;
    padding-left: 75px;
    align-items: center;  
    justify-content: space-between;
    list-style: none;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}


.navigation ul li a{
    transition: all 0.3s linear;
}

.navigation ul li{
  margin-left: 35px;  
  margin-right: 20px;
}



.navigation ul li:nth-child(1){
  margin-right: auto;
}



.navigation ul li:last-child{
    margin-left: 60px;;
}


/* boton de feedback */



.button {
    background-color: #4169e1;
    display: block;
    padding-left: 22px;
    padding-right: 6px;
    height: 40px;
    width: 175px;
    border-radius: 35px;
    font-size: 15px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid transparent;
    align-items: center;

}

.button a{
    color: #fff;
}

i.bi.bi-chat-text-fill::before{
    margin-left: 5px;
    color: #fff;
}




.main{
    padding-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    
}




.circulo{
    position: absolute;
    width: 370px;
    height: 370px;
    z-index: -2;
    bottom: 15%;
    right: 16%;
}

.details
{
    position: relative;
    width: 100vh;
    height: 30vw;

}

.small-circle
{
    position: absolute;
    max-width: 13px;
    height: 13px;
    top: 15%;
  right: 10%;
}

.small-x{
    max-width: 18px;
    height: 18px;
    position: absolute;
    bottom: 0;
    right: 80%;
    
}

img{
    height: 500px;
    justify-content: right;
    padding-left: 210px;
    display: block;
    position:absolute;
    z-index: 2;
}




video{
    height: 475px;
    justify-content: right;
    padding-left: 215px;
    top: 110px;
    position: absolute;
    aspect-ratio: 9/18;
    z-index: 1;
}


.container4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(Multimedia/foto-recortada-mano-hombre-pluma-verde-mientras-toma-notas_171337-9859.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    margin-top: 90px;
}



/* button.noteButton{
    display: flex;
    align-items: baseline;
} */

.container4 h1{
    font-family: 'Newsreader', serif;
    color: #fff;
    display: flex;
}






.noteButton{
    margin-top: 25px;
    margin-left: 90px;
    display: block;
    padding-left: 10px;
    height: 65px;
    width: 250px;
    border-radius: 35px;
    background-color: transparent;
    font-size: 18px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid #fff;
    font-weight: 700px;
    font-family: 'Mulish', sans-serif;
}
.noteButton a{
    text-decoration: none;
    color: #fff;
}





.noteButton a:hover{
    color: purple;
    display: flex;
    align-items: flex-end;
}



img.circulo2{
    height: 600%;
    right: 600%;
}


img.imagen2{
    padding-top:95px ;
}

.video2{
    position: relative;
    bottom: 200px;
    border-radius: 30px;
}







.container-text{
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    padding-left: 100px;
}

.container-text{
display: grid;
grid-template-columns: 1fr 1fr;
padding: 1rem;
margin: auto;
justify-items: center;


}


.text i{

    background: -webkit-linear-gradient(#9c47fc, #356ad2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    
}




/* parrafos de abajo */

.details{
    color: #696969;
    font-size: 17px;
    font-family: 'Mulish', sans-serif;
    padding-left: 20px;
    line-height: 17px ;
    

}








div.containerFooter{
    display: flex;
    justify-content: center;
}


.footer{
    background-color:#000 ;
    padding: 60px 0;
    color: #a9a9a9;
    font-family: 'Mulish', sans-serif;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    font-size: 13px;
    display: flex;
    flex-direction: column;

}

.containerFooter{
    color: #a9a9a9;
    list-style: none;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}
 



